In [1]:
# pip install xlrd

In [2]:
import sys 
import os
import pandas as pd
import re

In [3]:
project_path = os.path.abspath('..')
if project_path not in sys.path:
    sys.path.append(project_path)
sys.path

['C:\\Users\\Filipp\\PycharmProjects\\Invoice_scanner\\src',
 'C:\\Users\\Filipp\\AppData\\Local\\anaconda3\\python311.zip',
 'C:\\Users\\Filipp\\AppData\\Local\\anaconda3\\DLLs',
 'C:\\Users\\Filipp\\AppData\\Local\\anaconda3\\Lib',
 'C:\\Users\\Filipp\\AppData\\Local\\anaconda3',
 '',
 'C:\\Users\\Filipp\\AppData\\Local\\anaconda3\\Lib\\site-packages',
 'C:\\Users\\Filipp\\AppData\\Local\\anaconda3\\Lib\\site-packages\\win32',
 'C:\\Users\\Filipp\\AppData\\Local\\anaconda3\\Lib\\site-packages\\win32\\lib',
 'C:\\Users\\Filipp\\AppData\\Local\\anaconda3\\Lib\\site-packages\\Pythonwin',
 'C:\\Users\\Filipp\\PycharmProjects\\Invoice_scanner']

In [4]:
from config.config import config

In [5]:
df = pd.read_excel(config['services_excel_file'])
df.shape

(10370, 7)

In [6]:
# удаление и переименование

df = df.drop(["Ссылка.Автор.SAMAccount name", "Контрагент"], axis=1)
df.columns = ['link', 'bustype', 'service', 'comment', 'code']
df.shape

(10370, 5)

In [7]:
# преобразование в строку, замена переноса строк на пробел, удаление повторяющихся пробелов 

for col in df.columns:
    df[col] = df[col].apply(lambda x: str(x).replace('\n', ' ').strip())
    df[col] = df[col].apply(lambda x: re.sub(r' {2,}', ' ', x).strip())

In [8]:
# замена "1 в 1"

def replace1in1(row):
    if row['comment'] == '1 в 1':
        return row['service']
    else:
        return row['comment']

df['comment'] = df.apply(replace1in1, axis=1)

In [9]:
df.describe()

,link,bustype,service,comment,code
count,10370,10370,10370,10370,10370
unique,4000,2,525,519,533
top,Счет Поставщика 0С000000000000133258 от 22.04....,Логистика,Организация автотранспортной перевозки,Счета авто. Грузятся по реестрам.,190
freq,50,8468,1776,1864,1642

In [10]:
df.shape

(10370, 5)

### Удаление транспортных позиций

In [11]:
def remove_special_characters(text):
    response = re.sub(r'[^\w\s]', ' ', text.lower())
    return re.sub(r'(\s{2,}|\n)', ' ', response)

excluded = ['счета авто грузятся по реестрам', 'услуги грузятся автоматически', 'Счета авто. ']
excluded = [remove_special_characters(x) for x in excluded]
print(excluded)

['счета авто грузятся по реестрам', 'услуги грузятся автоматически', 'счета авто ']

In [12]:
df['comment_cleaned'] = df['comment'].apply(remove_special_characters)
df = df[~df['comment_cleaned'].str.strip().isin(excluded)]
df = df.drop('comment_cleaned', axis=1)
df.shape

(6951, 5)

In [13]:
df.describe()

,link,bustype,service,comment,code
count,6951,6951,6951,6951,6951
unique,2494,2,503,517,509
top,Счет Поставщика 0С000000000000133258 от 22.04....,Логистика,Проведение экспертной оценки в целях фитосанит...,услуга русс.яз для акта,ТК-003254
freq,50,5049,197,325,197

### Удаление позиций "услуга русс. яз для акта"

In [14]:
excluded = ['услуга русс.яз для акта']
excluded = [remove_special_characters(x) for x in excluded]
print(excluded)

['услуга русс яз для акта']

In [15]:
df['comment_cleaned'] = df['comment'].apply(remove_special_characters)
df = df[~df['comment_cleaned'].str.strip().isin(excluded)]
df = df.drop('comment_cleaned', axis=1)
df.shape

(6618, 5)

### Количество различных комментариев в одной услуге

In [16]:
uniq_services = df.groupby(['service']).agg(num_comments=('comment', 'count'), uniq_comments=('comment', 'nunique')).reset_index()
uniq_services.tail()

                                  service  num_comments  uniq_comments
459             срочное выполнение заказа            72              2
460                        термоиндикатор            26              1
461         установка и снятие генератора             4              1
462  установка и снятие дизель-генератора            30              1
463     хранение 20фут. контейнера импорт             1              1

In [17]:
uniq_services.query("uniq_comments > 1")

,service,num_comments,uniq_comments
44,Выставление контейнера на досмотр или отбор проб,8,2
47,"Выявление и идентификация грибов,нематод, вред...",16,3
50,Документальный сбор,19,2
53,Документационный сбор за коносамент,82,3
71,Идентификация вредителей,5,2
74,Информационно-консультационные услуги (чел.ч),19,2
103,Комплект деревянных поддонов,29,3
112,Лабораторная гербологическая экспертиза средни...,2,2
114,Лабораторная энтомологическая экспертиза,74,3
117,Лабораторные исследования товара,126,3
137,Обслуживание груза,4,3
163,Организация дополнительного перемещения для та...,17,2
184,Организация релиз-ордера за контейнер,82,3
189,Организация терминальной обработки,82,3
203,Оформление заключения карантинном фитосанитарн...,71,4
208,Оформление пропусков на грузовые а/м,84,2
210,Оформление протокола испытаний (экз.),13,2
215,Оформление релиз-ордера,19,2
226,Перевалка (назем. транспортное средство): Конт...,125,2
247,Перемещение для сканирования ИДК,3,2
262,Печать транспортной накладной,48,3
269,Погрузо-разгрузочные работы,6,3
288,Преддиагностическая обработка средней пробы,17,2
295,Проведение экспертной оценки в целях фитосанит...,197,4
318,Сбор за контейнерное оборудование,47,2
331,Складские услуги,6,2
341,Страхование груза,65,2
351,"ТЭУ, связанные с организацией международной пе...",42,3
358,Транспортно-экспедиторские услуги (шт),30,3
363,Транспортно-экспедиционные услуги,42,2
367,Транспортно-экспедиционные услуги по организац...,10,2
371,Транспортно-экспедиционные услуги по организац...,2,2
376,Транспортные услуги,3,3
389,Услуги по организации приема вагона,2,2
392,Услуги терминала по дополнительной сортировке,6,2
406,Хранение,33,7
407,Хранение (teu/сут),32,3
411,Хранение (сут),48,8
428,Хранение контейнеров,2,2
438,Хранение: Контейнер ИСО 20' груженый,30,2
448,"Экспертиза, ед",180,4
459,срочное выполнение заказа,72,2

### Количество различных услуг в одном комментарии

In [18]:
uniq_comments = df.groupby(['comment']).agg(num_services=('service', 'count'), uniq_services=('service', 'nunique')).reset_index()
uniq_comments.tail()

,comment,num_services,uniq_services
510,установка и снятие генератора,4,1
511,установка и снятие дизель-генератора,30,1
512,хранение 20фут. контейнера импорт,4,3
513,хранение 40фут. контейнера импорт,2,1
514,хранение 40фут. контейнера импорт контейнера и...,6,1

In [19]:
uniq_comments.query("uniq_services > 1")

,comment,num_services,uniq_services
51,"Выявление и идентификация грибов, нематод, вре...",15,2
125,Лабораторная энтомологическая экспертиза средн...,178,2
126,Лабораторная энтомологическая экспертиза средн...,68,2
135,Локальные расходы на стороне отправления,2,2
154,Оказание комплекса услуг СВХ,11,2
174,Организация выгрузки с судна в порту прибытия,2,2
277,Перемещение контейнера для целей осмотра с исп...,7,2
286,Повышающий коэффициент: Срочность (надбавка к ...,4,2
391,Транспортно-экспедиторские услуги ТрансКонтейнер,42,6
403,Транспортно-экспедиционные услуги по организац...,16,3
459,"Хранение груженого универсального контейнера, ...",17,2
474,Хранение на жд станции,3,2
508,счета авто,8,4
512,хранение 20фут. контейнера импорт,4,3

### Услуги с двумя и более кодами

In [20]:
service_code_counts = df.groupby('service')['code'].nunique()

services_with_multiple_codes = service_code_counts[service_code_counts > 1]
services_with_multiple_codes

service
Доставка проб в лабораторию                                                                                                    2
Перемещение контейнера для целей досмотра/осмотра                                                                              2
Погрузо-разгрузочные работы на складах, поддерживающих температурный режим кондиционного груза в целях таможенного досмотра    2
Услуги терминала по дополнительной сортировке                                                                                  2
Хранение                                                                                                                       2
Штраф                                                                                                                          2
Name: code, dtype: int64

In [21]:
grouped = df[df['service'].isin(services_with_multiple_codes.index)].groupby(['service', 'code']).size().reset_index(name='count')
display(grouped)

idx = grouped.groupby('service')['count'].idxmin()
min_count_code = grouped.loc[idx]
display(min_count_code)

                                              service       code  count
0                         Доставка проб в лабораторию      Т2656      5
1                         Доставка проб в лабораторию  ТК-008695    152
2   Перемещение контейнера для целей досмотра/осмотра  ТК-006224     17
3   Перемещение контейнера для целей досмотра/осмотра  ТК-007431      1
4   Погрузо-разгрузочные работы на складах, поддер...  ТК-009341      1
5   Погрузо-разгрузочные работы на складах, поддер...  ТК-009493      1
6       Услуги терминала по дополнительной сортировке  ТК-007824      2
7       Услуги терминала по дополнительной сортировке  ТК-007848      4
8                                            Хранение        307      8
9                                            Хранение  ТК-000473     25
10                                              Штраф      Т0148      2
11                                              Штраф  ТК-006548      1

                                              service       code  count
0                         Доставка проб в лабораторию      Т2656      5
3   Перемещение контейнера для целей досмотра/осмотра  ТК-007431      1
4   Погрузо-разгрузочные работы на складах, поддер...  ТК-009341      1
6       Услуги терминала по дополнительной сортировке  ТК-007824      2
8                                            Хранение        307      8
11                                              Штраф  ТК-006548      1

In [22]:
df = df[~df['code'].isin(min_count_code.code)]

In [23]:
df.describe()

,link,bustype,service,comment,code
count,6600,6600,6600,6600,6600
unique,2314,2,464,513,464
top,Счет Поставщика 0С000000000000133647 от 26.04....,Логистика,Проведение экспертной оценки в целях фитосанит...,Проведение экспертной оценки в целях фитосанит...,ТК-003254
freq,50,4704,197,191,197

================================================================

================================================================

### Группировка

In [24]:
grouped_comment = df.groupby(['comment']).agg(
    service_list=('service', lambda x: list(dict.fromkeys(x))),
    codelist = ('code', lambda x: list(dict.fromkeys(x)))
).reset_index()
grouped_comment['len_service'] = grouped_comment['service_list'].apply(len)
grouped_comment['id'] = list(range(1, grouped_comment.shape[0]+1))

In [25]:
grouped_comment.shape

(513, 5)

In [26]:
grouped_comment

,comment,service_list,codelist,len_service,id
0,1 Анализ и первичная экспертиза подкарантинной...,[Лабораторные исследования товара],[ТК-008940],1,1
1,1 Изучение представленных документов 2 Оформле...,[Лабораторные исследования товара],[ТК-008940],1,2
2,20-футовый контейнер - перевалка груженого кон...,[20-футовый контейнер - перевалка груженого ко...,[ТК-009698],1,3
3,20-футовый контейнер - перемещение груженого к...,[20-футовый контейнер - перемещение груженого ...,[ТК-009699],1,4
4,Cбор за несвоевременное высвобождение контейне...,[Cбор за несвоевременное высвобождение контейн...,[ТК-009695],1,5
...,...,...,...,...,...
508,условия по договору,[КОМИССИЯ +3%],[ТК-009590],1,509
509,установка и снятие генератора,[установка и снятие генератора],[ТК-006287],1,510
510,установка и снятие дизель-генератора,[установка и снятие дизель-генератора],[ТК-007442],1,511
511,хранение 20фут. контейнера импорт,"[хранение 20фут. контейнера импорт, Хранение (...","[ТК-008308, Т00000332]",2,512
512,хранение 40фут. контейнера импорт,[Хранение контейнера],[Т0464],1,513

In [27]:
grouped_comment[grouped_comment.len_service > 1]

,comment,service_list,codelist,len_service,id
51,"Выявление и идентификация грибов, нематод, вре...","[Выявление и идентификация грибов,нематод, вре...","[ТК-008694, ТК-008723]",2,52
125,Лабораторная энтомологическая экспертиза средн...,"[Экспертиза, ед, Экспертиза средней пробы]","[ТК-007971, ТК-008783]",2,126
126,Лабораторная энтомологическая экспертиза средн...,"[Лабораторная энтомологическая экспертиза, Офо...","[ТК-002829, ТК-006130]",2,127
135,Локальные расходы на стороне отправления,"[Локальные расходы, Локальные расходы на сторо...","[ТК-005841, ТК-009654]",2,136
154,Оказание комплекса услуг СВХ,"[Комплекс услуг СВХ, Оказание комплекса услуг ...","[ТК-007564, ТК-009080]",2,155
174,Организация выгрузки с судна в порту прибытия,"[Выгрузка с судна, Организация выгрузки с судн...","[456, ТК-008539]",2,175
277,Перемещение контейнера для целей осмотра с исп...,[Перемещение контейнера для целей осмотра с ис...,"[ТК-007317, ТК-009434]",2,278
286,Повышающий коэффициент: Срочность (надбавка к ...,"[срочное выполнение заказа, Срочность выполнен...","[Т2879, ТК-007059]",2,287
391,Транспортно-экспедиторские услуги ТрансКонтейнер,"[Транспортно-экспедиторские услуги (шт), Погру...","[ТК-003562, ТК-005882, ТК-004317, ТК-009584, Т...",6,392
403,Транспортно-экспедиционные услуги по организац...,"[Транспортно-экспедиционные услуги, Транспортн...","[Т0323, ТК-008600, ТК-009063]",3,404
458,"Хранение груженого универсального контейнера, ...","[Хранение груженого универсального контейнера,...","[ТК-008496, ТК-000473]",2,459
473,Хранение на жд станции,"[Хранение, Хранение на жд станции]","[ТК-000473, ТК-009593]",2,474
507,счета авто,"[Организация автотранспортной перевозки, Транс...","[190, Т3280, ТК-003562, Т0448]",4,508
511,хранение 20фут. контейнера импорт,"[хранение 20фут. контейнера импорт, Хранение (...","[ТК-008308, Т00000332]",2,512

In [28]:
grouped_comment.to_json(config['unique_comments_file'], orient='records', force_ascii=False, indent=4)